body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: #f8fafc !important;
  min-height: 100vh;
  padding-right: 0 !important;
    overflow: visible !important;
}

body::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-color: #0F172A;
}

.app-main,
.main {
  position: relative;
}

.app-main,
.main {
  min-height: 68vh;
  padding-top: 190px;
  font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 2000px) {
  body {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.swiper-container {
    overflow: hidden;
}

.col {
  width: 100%;
    padding: 0 calc(var(--col-gap) / 2);
    margin-bottom: var(--row-gap);
}

.col-11 {
  width: calc(11/12 * 100%);
}

.col-10 {
  width: calc(10/12 * 100%);
}

.col-9 {
  width: calc(9/12 * 100%);
}

.col-8 {
  width: calc(8/12 * 100%);
}

.col-7 {
  width: calc(7/12 * 100%);
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: calc(5/12 * 100%);
}

.col-4 {
  width: calc(4/12 * 100%);
}

.col-3 {
  width: calc(3/12 * 100%);
}

.col-2 {
  width: calc(2/12 * 100%);
}

.col-1 {
  width: calc(1/12 * 100%);
}

.shtime-ft {
  position: relative;
}

.cinestar-item.collapseItem {
  position: relative;
}

.seat-indicator-scroll {
  position: relative;
}

.relative {
  position: relative;
}

.seat-screen {
  display: block;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  max-width: var(--w);
  margin-bottom: 48px;
}

@media (max-width: 701px) {
  .seat-screen {
    margin-bottom: 20px;
  }
}

img {
  display: block;
  height: auto;
  transition: all .2s;
  width: 100%;
}

.title {
  font-size: 40px;
  color: #f8fafc;
}

.row {
  --col-gap: 24px;
  --row-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(-col-gap) / 2 * -1) calc(var(-row-gap) * -1);
}

.cursor-pointer {
  cursor: pointer;
}

.ticket .content-bottom {
  margin-bottom: auto;
}

.content .content-bottom {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: auto;
}

@media (max-width: 700px) {
  .content .content-bottom {
    flex-direction: column;
  }
}

.count {
  transition: all .3s ease;
}

@media (max-width: 1024px) {
  .count {
    padding: 8px 8px 4px;
    width: 100%;
  }
}

.ticket .count {
  width: 100px;
}

.ticket .count:hover {
  background: #f3ea28;
}

.count {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 12px 10px;
  width: 120px;
  justify-content: space-between;
  border-radius: 4px;
  background: #94a3b8;
  line-height: 100%;
  color: #0f172a;
  transition: all .3s;
}

@media (max-width: 700px) {
  .count {
    width: 100%;
  }
}

.count .count-btn {
  font-size: 12px;
  font-weight: 300;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

.count .count-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color: #639;
  z-index: 1;
  transition: all 0.2s;
  opacity: 0;
}

.count-btn {
  user-select: none;
}

.count .count-number {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .count .count-number {
    font-size: 16px;
  }
}

.count .count-btn svg {
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

.count .count-btn:hover {
  cursor: pointer;
  color: #f3ea28;
}

.count .count-btn:hover::after {
  opacity: 1;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.app-main {
  font-family: "Josefin Sans",
      sans-serif;
    font-size: 16px !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.swal2-popup {
  background: linear-gradient(106deg,#639,#36c 102.69%);
  font-family: "Josefin Sans", sans-serif;
  border-radius: 6px
}

.swal2-title {
  font-family: "Anton", sans-serif;
  color: #f8fafc;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase
}

@media only screen and (max-width: 1200px) {
  .swal2-title {
    font-size: 20px;
  }
}

.swal2-html-container {
  color: #f8fafc !important;
  font-size: 16px !important;
  line-height: 24.8px !important;
}

.swal2-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.swal2-actions .swal2-cancel {
    margin: 0;
      width: 120px;
      height: 40px;
      max-width: 180px;
      border: 1px solid #f3ea28;
      color: #f3ea28;
      position: relative;
      transition: all .4s ease-in-out;
      z-index: 1;
      background-color: transparent;
      font-family: "Anton", sans-serif;
      align-items: center;
      justify-content: center;
}

.swal2-actions .swal2-confirm {
  margin: 0;
  width: 120px;
    height: 40px;
    max-width: 180px;
    border: 1px solid #f3ea28;
      color: #f3ea28;
      position: relative;
      transition: all .4s ease-in-out;
      z-index: 1;
      background-color: transparent;
      font-family: "Anton", sans-serif;
          display: flex !important;
          align-items: center;
            justify-content: center;
}

.swal2-confirm, .swal2-cancel {
  color: #f3ea28;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  border: 0.1rem solid #f3ea28;
}

.swal2-confirm::before,
.swal2-confirm::after,
.swal2-cancel::before,
.swal2-cancel::after {
  content: '';
  height: 100%;
  width: 1px;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 0;
}

.swal2-confirm::before,
.swal2-cancel::before {
  width: 100%;
  background: transparent;
  z-index: -2;
  right: 0;
}

.swal2-confirm::after,
.swal2-cancel::after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #FF6D00 0%, #FFC107 100%);
  z-index: -1;
}

.swal2-confirm:hover,
.swal2-cancel:hover {
  color: #fff;
}

.swal2-confirm:hover img,
.swal2-cancel:hover img {
  transition: all .2s;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(198deg) brightness(105%) contrast(101%);
}

.swal2-confirm:hover::before,
.swal2-cancel:hover::before {
  width: 0;
}

.swal2-confirm:hover::after,
.swal2-cancel:hover::after {
  width: 100%;
}


.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-family: "Anton", sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
  overflow: hidden;
}

.btn--pri {
  color: #0f172a !important;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.btn--pri::before,
.btn--pri::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  transition: all 0.4s ease-in-out;
}

.btn--pri::before {
  width: 100%;
  background: #f3ea28;
  z-index: -2;
  right: 0;
  top: 0;
}

.btn--pri::after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(106deg, #639 0%, #36C 102.69%);
  z-index: -1;
}

.btn--pri:hover {
  color: #fff !important;
}

.btn--pri:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(198deg) brightness(105%) contrast(101%);
}

.btn--pri:hover::before {
  width: 0;
}

.btn--pri:hover::after {
  width: 100%;
}

.btn--pri-active {
  /* color: $color-white; */
}

.btn--pri-active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(198deg) brightness(105%) contrast(101%);
}

.btn--pri-active::before {
  width: 0;
}

.btn--pri-active::after {
  width: 100%;
}

.btn.--wf {
  width: fit-content;
}

.btn.--mw {
  min-width: 236px;
}

.btn.--gray {
  background-color: #E2E8F0;
  color: #000;
}

.modal-header {
  /* border-bottom: none !important; */
  border-bottom: none !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}

.modal-header .modal-btn-close{
  /* color: rgb(248, 250, 252);
  cursor: pointer !important;
    display: block;
      height: 32px;
      position: absolute;
      right: 16px;
      top: 30px;
      width: 32px; */
      background-color: transparent;
        border: none;
        color: rgb(248, 250, 252);
        cursor: pointer !important;
        display: block;
        height: 32px;
        width: 32px;
        padding: 0;
}

button {
    background-color: transparent;
    padding: 0;
}

.app-main:before,
.main:before {
  background-color: #0f172a;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
}

.btn--second {
  color: #f8fafc;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.btn--second::before,
.btn--second::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  transition: all 0.4s ease-in-out;
}

.btn--second::before {
  width: 100%;
  background: #639;;
  z-index: -2;
  right: 0;
  top: 0;
}

.btn--second::after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #FF6D00 0%, #FFC107 100%);
  z-index: -1;
}

.btn--second:hover {
  color: var(--color-white);
}

.btn--second:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(198deg) brightness(105%) contrast(101%);
}

.btn--second:hover::before {
  width: 0;
}

.btn--second:hover::after {
  width: 100%;
}

.btn--white {
  color: #fff !important;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in-out !important;
  border: 1px solid #fff !important;
}

.btn--white::before,
.btn--white::after {
  content: '';
  height: 100%;
  width: 1px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.btn--white::before {
  width: 100%;
  background: transparent;
  z-index: -2;
  right: 0;
  top: 0;
}

.btn--white::after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #FF6D00 0%, #FFC107 100%);
  z-index: -1;
}

.btn--white:hover {
  color: #fff;
}

.btn--white:hover img {
  transition: all .2s;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(198deg) brightness(105%) contrast(101%);
}

.btn--white:hover::before {
  width: 0;
}

.btn--white:hover::after {
  width: 100%;
}