<div mat-dialog-title class="dialog-title">{{ (editingId ? 'users.form.editTitle' : 'users.form.createTitle') | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dlg-grid">
      <div class="dlg-row dlg-row--2">
        <div class="dlg-field">
          <label class="dlg-label" for="us-name">{{ 'common.name' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="us-name" formControlName="name" [placeholder]="'users.form.namePlaceholder' | translate">
            <mat-error *ngIf="form.controls['name'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="dlg-field">
          <label class="dlg-label" for="us-email">{{ 'users.form.email' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="us-email" formControlName="email" [placeholder]="'users.form.emailPlaceholder' | translate">
            <mat-error *ngIf="form.controls['email'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('email')">{{ 'users.form.emailInvalid' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="us-phone">{{ 'users.form.phone' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="us-phone" formControlName="phone" placeholder="0901234567">
            <mat-error *ngIf="form.controls['phone'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
            <mat-error *ngIf="form.controls['phone'].hasError('pattern')">{{ 'users.form.phoneInvalid' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row" *ngIf="!editingId">
        <div class="dlg-field">
          <label class="dlg-label" for="us-password">{{ 'users.form.password' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="us-password" type="password" formControlName="password" [placeholder]="'users.form.passwordPlaceholder' | translate">
            <mat-error *ngIf="form.controls['password'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
            <mat-error *ngIf="form.controls['password'].hasError('minlength')">{{ 'users.form.passwordMinLength' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row dlg-row--2">
        <div class="dlg-field">
          <label class="dlg-label" id="us-userTypeId-lbl">{{ 'users.form.role' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select formControlName="userTypeId" panelClass="dlg-select-panel" aria-labelledby="us-userTypeId-lbl" [placeholder]="'users.form.selectRole' | translate">
              <mat-option *ngFor="let t of userTypes" [value]="t.id">{{ t.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['userTypeId'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="dlg-field">
          <label class="dlg-label" id="us-status-lbl">{{ 'common.status' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select formControlName="status" panelClass="dlg-select-panel" aria-labelledby="us-status-lbl">
              <mat-option *ngFor="let s of statuses" [value]="s.v">{{ s.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row" *ngIf="needsTheater">
        <div class="dlg-field">
          <label class="dlg-label" id="us-theaterId-lbl">{{ 'warehouse.userTheater' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select formControlName="theaterId" panelClass="dlg-select-panel" aria-labelledby="us-theaterId-lbl" [placeholder]="'warehouse.userTheaterSelect' | translate">
              <mat-option *ngFor="let t of theaters" [value]="t.id">{{ t.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['theaterId'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row" *ngIf="needsTheaters">
        <div class="dlg-field">
          <label class="dlg-label" id="us-theaterIds-lbl">{{ 'adminUserTheaters.label' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select multiple formControlName="theaterIds" panelClass="dlg-select-panel" aria-labelledby="us-theaterIds-lbl" [placeholder]="'adminUserTheaters.select' | translate">
              <mat-option *ngFor="let t of theaters" [value]="t.id">{{ t.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
