<div mat-dialog-title class="dialog-title">{{ (editingId ? 'users.form.editTitle' : 'users.form.createTitle') | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'common.name' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <input matInput formControlName="name" [placeholder]="'users.form.namePlaceholder' | translate">
        <mat-error *ngIf="form.controls['name'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'users.form.email' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <input matInput formControlName="email" [placeholder]="'users.form.emailPlaceholder' | translate">
        <mat-error *ngIf="form.controls['email'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')">{{ 'users.form.emailInvalid' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'users.form.phone' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <input matInput formControlName="phone" placeholder="0901234567">
        <mat-error *ngIf="form.controls['phone'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
        <mat-error *ngIf="form.controls['phone'].hasError('pattern')">{{ 'users.form.phoneInvalid' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-row" *ngIf="!editingId">
      <mat-label class="dialog-row-label">{{ 'users.form.password' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <input matInput type="password" formControlName="password" [placeholder]="'users.form.passwordPlaceholder' | translate">
        <mat-error *ngIf="form.controls['password'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">{{ 'users.form.passwordMinLength' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'users.form.role' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <mat-select formControlName="userTypeId" [placeholder]="'users.form.selectRole' | translate">
          <mat-option *ngFor="let t of userTypes" [value]="t.id">{{ t.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['userTypeId'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'common.status' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <mat-select formControlName="status">
          <mat-option *ngFor="let s of statuses" [value]="s.v">{{ s.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
