img {
    display: block;
    height: auto;
    transition: all .2s;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.hd {
    font-family: "Josefin Sans", sans-serif;
    background-color: #0f172a;
    display: inline-block;
    height: 140px;
    left: 0;
    position: fixed;
    top: 0;
    transition: all .4s;
    width: 100%;
    z-index: 1000;
}

.hd-top {
    background-color: #cac8c8;
    height: 58px;
    overflow: hidden;
}

.hd-top-content,
.hd-top-wr {
    align-items: center;
    display: flex;
    gap: 10px;
}

.hd-top-wr {
    height: 100%;
    justify-content: space-between;
}

.hd-top .popup-top-logo {
    align-items: center;
    display: flex;
    gap: 30px;
    height: 100%;
    padding: 10px 0;
}

.hd-top .popup-top-logo img {
    border-radius: 8px;
    max-height: 41px;
    max-width: 41px;
}

.hd-top .popup-top-content {
    align-items: center;
    color: #0f172a;
    display: flex;
    gap: 20px;
}

.hd-top .popup-top-content .text {
    display: flex;
    gap: 5px;
}

.hd-top .popup-top-content .link {
    border: 1px solid #639;
    border-radius: 4px;
    color: #639;
    line-height: 1.5;
    padding: 3px 12px;
    text-decoration: none;
    text-transform: capitalize;
}

.hd-top-close {
    cursor: pointer;
    width: 24px;
}

.hd-mid {
    height: 78px;
}

.hd-mid-wr {
    align-items: center;
    display: flex;
    gap: 32px;
    height: 100%;
}

.hd-mid .custom-logo-link {
    display: flex;
    width: 130px;
}

.hd-action {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content: center;
}

.hd-action .btn {
    font-size: 15px;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
}

.hd-action .btn .icon {
    width: 18px;
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}

.hd-action .btn .txt {
    display: inline-block;
    vertical-align: middle;
}

.hd-action .book-now,
.hd-action .book-food {
    display: flex;
    align-items: center;
    border-radius: 3px;
    transition: all 1s ease;
}

.hd-action .book-now {
    background: #f3ea28;
}

.hd-action .book-now:hover {
    color: #fff;
    background: linear-gradient(106deg, #639, #36c 102.69%);
}

.hd-action .book-food {
    color: #fff;
    background: #639;
}

.hd-action .book-food:hover {
    color: #fff;
    background: linear-gradient(90deg, #ff6d00, #ffc107);
}

.hd-mid-right {
    align-items: center;
    display: flex;
    gap: 36px;
}

.hd-search {
    position: relative;
}

.hd-search-icon {
    width: 34px;
    height: 34px;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 1000px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.hd-search-icon img {
    width: 60%;
}

.hd-search-wr {
    align-items: center;
    display: flex;
    position: relative;
    width: 250px;
}

.hd-search-wr input {
    background-color: #fff;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 1;
    padding: 0 30px 0 16px;
    width: 100%;
}

.re-input {
    background-color: #fff;
    border: none;
    color: #475569;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
    padding: 14px;
    font-size: 16px !important;
}

.\!bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / 1) !important;
}

.hd-search-form-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 8px;
}

.hd-regi-wr {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
}

.hd-regi .link:hover {
    color: #f3ea28;
}

.hd-regi-name {
    -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 16px;
        max-width: 200px;
        position: relative;
        text-transform: uppercase;
        top: 2px;
}

.hd-regi-wr .hd-regi-list .dang-nhap:hover {
    color: #f3ea28;
}

.hd-regi-ava {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    top: -2px;
}

.hd-regi-ava img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.hd-regi-list a {
    text-decoration: none;
    color: #fff;
}

.hd-regi .link .icon {
    position: relative;
    top: -3px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 24px;
    margin-right: 10px;
}

.lg-action {
    cursor: pointer;
    gap: 0 8px;
    position: relative;
    align-items: center;
    display: flex;
}

.lg-popup {
    display: flex;
    gap: 0 8px;
}

.hd-lg .lg-option {
    font-size: 14px;
}

.lg-option {
    align-items: center;
    display: flex;
    gap: 0 8px;
}

.lg-option .image {
    border-radius: 1000px;
    display: inline-block;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}

.lg-option .image img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.hd-lg .lg-option .txt {
    position: relative;
    top: 2px;
}

.hd-lg .lg-option .icon {
    font-weight: 900;
}

.lg-action-popup {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: rgba(51, 102, 204, 0.8);
    border-radius: 0.8rem;
    min-width: 100%;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.lg-action:hover .lg-action-popup {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hd-bot {
    height: 50px;
}

.hd-bot-wr {
    align-items: center;
    border-top: 1px solid rgba(248, 250, 252, .1);
    display: flex;
    gap: 10px;
    height: 100%;
    justify-content: space-between;
}

.hd-bot-action-wrap {
    display: flex;
    gap: 40px;
}

.hd-bot-loca {
    color: #fff;
    text-decoration: none;
}

.hd-bot-loca.lich-chieu:hover, .hd-bot-loca.chon-rap:hover{
    color: #f3ea28;
}

.hd-bot-loca .icon {
    margin-right: 8px;
}

.hd-regi-list.--second.custom-position-left {
    left: 0;
    right: auto;
}

.hd-regi-list-custom.--second {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 15px 10px;
    row-gap: 5px;
    top: 100%;
}

.hd-regi-list-custom {
    width: 100%;
}

.hd-regi-list {
    align-items: center;
    display: flex;
    gap: 4px;
    z-index: 1;
}

.hd-regi-list.--second .link {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 15px 10px;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
    width: 100%;
}

.hd-regi:hover .hd-regi-list.hd-regi-list-custom.--second.custom-position-left {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hd-bot-dc {
    align-items: center;
    display: flex;
    gap: 24px;
}

.hd-bot-dc a {
    color: #fff;
}

.hd-bot-dc .dc:hover, .hd-bot-dc .news:hover, .hd-bot-dc .about-us:hover {
    color: #f3ea28;
} 

.hd-bot-dc .link {
    text-decoration: underline;
    text-underline-position: under;
    transition: .3s ease-in-out;
}

@media screen and (min-width: 1200px) {
    .hd-search-icon {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .hd-search-form {
        display: none !important;
    }
}

@media screen and (min-width: 1025px) {
    .hd-regi-ava {
        height: 32px;
        top: 0;
        width: 32px;
    }
}

.hd-regi-list.--second {
    position: absolute;
    top: calc(100% - 5px);
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0f172a;
    border-radius: 4px;
    border: 1px solid rgba(248, 250, 252, .1);
    gap: 0;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(5px);
    visibility: hidden;
}

.hd-regi-list.--second.custom-position-left {
    left: 0;
    right: auto;
}

.hd-regi-list.--second .dot {
    display: none;
}

.hd-regi-list.--second .link:hover {
    color: #f3ea28;
}

.hd-regi-list.--second .link i {
    display: block;
}

.hd-regi:hover .hd-regi-list {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
}

.search-history {
    position: absolute;
    background: #fff;
    color: rgb(71, 85, 105);
    width: 100%;
    line-height: 25px;
    top: 90%;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    z-index: 1000;
}

.search-term {
    cursor: pointer;
    padding-left: 16px;
}

.search-term:hover {
background-color: rgba(39, 39, 42, 0.12);
}

.hd-bot-km {
    align-items: center;
    display: flex;
    gap: 24px;
}