<div mat-dialog-title class="dialog-title">{{ (isEditing ? 'theaters.patronCategories.editTitle' : 'theaters.patronCategories.newTitle') | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dlg-grid">
      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="pc-name">{{ 'theaters.patronCategories.nameLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="pc-name" formControlName="name" [placeholder]="'theaters.patronCategories.namePlaceholder' | translate">
            <mat-error *ngIf="form.controls['name'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-switch">
        <span class="dlg-switch-label" id="pc-isActive-lbl">{{ 'theaters.patronCategories.activeLabel' | translate }}</span>
        <mat-slide-toggle formControlName="isActive" aria-labelledby="pc-isActive-lbl"></mat-slide-toggle>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="pc-description">{{ 'common.description' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="pc-description" formControlName="description" [placeholder]="'theaters.patronCategories.descPlaceholder' | translate">
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label">{{ 'theaters.patronCategories.pricesLabel' | translate }}</label>
          <p class="ad-sub">{{ 'theaters.patronCategories.pricesHint' | translate }}</p>
          <div class="ad-checkbox-list" [formArrayName]="'prices'">
            <div class="dlg-row dlg-row--2" *ngFor="let priceGroup of prices.controls; let i = index" [formGroupName]="i">
              <label class="ad-label">
                <input type="checkbox" formControlName="enabled">
                {{ seatTypes[i].name }}
              </label>
              <mat-form-field appearance="outline" subscriptSizing="dynamic" *ngIf="priceGroup.get('enabled')?.value">
                <input matInput type="number" step="1000" min="0" formControlName="price" [placeholder]="'theaters.patronCategories.pricePlaceholder' | translate">
                <span matTextSuffix>đ</span>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
