<div mat-dialog-title class="dialog-title">{{ (editingId ? 'theaters.roomTypes.editTitle' : 'theaters.roomTypes.newTitle') | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dlg-grid">
      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="rt-name">{{ 'theaters.roomTypes.nameLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="rt-name" formControlName="name" [placeholder]="'theaters.roomTypes.namePlaceholder' | translate">
            <mat-error *ngIf="form.controls['name'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="rt-description">{{ 'theaters.roomTypes.descLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="rt-description" formControlName="description" [placeholder]="'theaters.roomTypes.descPlaceholder' | translate">
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="rt-threeDSurcharge">{{ 'theaters.roomTypes.threeDSurcharge' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="rt-threeDSurcharge" type="number" min="0" formControlName="threeDSurcharge" placeholder="0">
            <mat-error *ngIf="form.controls['threeDSurcharge'].hasError('min')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-switch">
        <span class="dlg-switch-label" id="rt-supportsThreeD-lbl">{{ 'theaters.roomTypes.supportsThreeD' | translate }}</span>
        <mat-slide-toggle formControlName="supportsThreeD" aria-labelledby="rt-supportsThreeD-lbl"></mat-slide-toggle>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="rt-turnoverBufferMinutes">{{ 'theaters.roomTypes.turnoverBufferMinutes' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="rt-turnoverBufferMinutes" type="number" min="0" max="240" formControlName="turnoverBufferMinutes" placeholder="0">
            <mat-hint>{{ 'theaters.roomTypes.turnoverBufferHint' | translate }}</mat-hint>
            <mat-error *ngIf="form.controls['turnoverBufferMinutes'].hasError('min') || form.controls['turnoverBufferMinutes'].hasError('max')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
