<div mat-dialog-title class="dialog-title">{{ (editingId ? 'theaters.form.editTitle' : 'theaters.form.createTitle') | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dlg-grid">
      <div class="dlg-row dlg-row--2">
        <div class="dlg-field">
          <label class="dlg-label" for="th-name">{{ 'theaters.form.nameLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="th-name" formControlName="name" [placeholder]="'theaters.form.namePlaceholder' | translate">
            <mat-error *ngIf="form.controls['name'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="dlg-field">
          <label class="dlg-label" for="th-city">{{ 'theaters.form.cityLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="th-city" formControlName="city" [placeholder]="'theaters.form.cityPlaceholder' | translate">
            <mat-error *ngIf="form.controls['city'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="th-address">{{ 'theaters.form.addressLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="th-address" formControlName="address" [placeholder]="'theaters.form.addressPlaceholder' | translate">
            <mat-error *ngIf="form.controls['address'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row dlg-row--2">
        <div class="dlg-field">
          <label class="dlg-label" for="th-phone">{{ 'theaters.form.phoneLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="th-phone" formControlName="phone" placeholder="0123456789">
            <mat-error *ngIf="form.controls['phone'].hasError('pattern')">{{ 'theaters.form.phoneInvalid' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="dlg-field">
          <label class="dlg-label" for="th-email">{{ 'theaters.form.emailLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="th-email" formControlName="email" placeholder="rap@cinema.vn">
            <mat-error *ngIf="form.controls['email'].hasError('email')">{{ 'theaters.form.emailInvalid' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="th-imageUrl">{{ 'theaters.form.imageLabel' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="th-imageUrl" formControlName="imageUrl" [placeholder]="'theaters.form.imagePlaceholder' | translate">
          </mat-form-field>
          <div class="img-upload-row">
            <label class="ad-btn ad-btn--ghost">
              <mat-icon>upload</mat-icon> {{ 'theaters.form.uploadImage' | translate }}
              <input type="file" accept="image/*" hidden (change)="onPickImage($event)">
            </label>
            <span class="img-upload-status" *ngIf="uploading">{{ 'theaters.form.uploading' | translate }}</span>
            <span class="img-upload-status err" *ngIf="uploadError">{{ uploadError }}</span>
          </div>
          <div class="img-preview" *ngIf="form.value.imageUrl">
            <img [src]="form.value.imageUrl" alt="">
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
