<div mat-dialog-title class="dialog-title">{{ (editingId ? 'theaters.timeSlots.editTitle' : 'theaters.timeSlots.newTitle') | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'theaters.timeSlots.nameLabel' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <input matInput formControlName="name" [placeholder]="'theaters.timeSlots.namePlaceholder' | translate">
        <mat-error *ngIf="form.controls['name'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'theaters.timeSlots.startLabel' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <input matInput type="time" formControlName="startTime">
        <mat-error *ngIf="form.controls['startTime'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-row">
      <mat-label class="dialog-row-label">{{ 'theaters.timeSlots.endLabel' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="dialog-row-field">
        <input matInput type="time" formControlName="endTime">
        <mat-error *ngIf="form.controls['endTime'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
