<div class="ad-page">
  <!-- Header -->
  <div class="ad-page-header">
    <div>
      <h1 class="ad-h1">{{ 'showTimes.title' | translate }}</h1>
      <p class="ad-sub">{{ 'showTimes.subtitle' | translate }}</p>
    </div>
    <div class="ad-toolbar">
      <div class="st-week-nav">
        <button class="ad-icon-btn" type="button" (click)="prevWeek()" [title]="'showTimes.prevWeek' | translate"><mat-icon>chevron_left</mat-icon></button>
        <button class="ad-btn ad-btn--ghost st-week-label" type="button" (click)="goToday()">
          <mat-icon>calendar_today</mat-icon> {{ weekLabel }}
        </button>
        <button class="ad-icon-btn" type="button" (click)="nextWeek()" [title]="'showTimes.nextWeek' | translate"><mat-icon>chevron_right</mat-icon></button>
      </div>
      <mat-form-field appearance="outline" class="st-movie-filter" subscriptSizing="dynamic">
        <mat-select [(ngModel)]="filterMovieId" (selectionChange)="onFilterChange()">
          <mat-option value="">{{ 'showTimes.allMovies' | translate }}</mat-option>
          <mat-option *ngFor="let m of movies" [value]="m.id">{{ m.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="openCreate()"><mat-icon>add</mat-icon> {{ 'showTimes.addShowTime' | translate }}</button>
    </div>
  </div>

  <!-- Legend -->
  <div class="st-legend">
    <span class="st-legend-item"><i class="st-dot st-block--normal"></i> {{ 'showTimes.typeNormal' | translate }}</span>
    <span class="st-legend-item"><i class="st-dot st-block--premiere"></i> {{ 'showTimes.typePremiere' | translate }}</span>
    <span class="st-legend-item"><i class="st-dot st-block--special"></i> {{ 'showTimes.typeSpecial' | translate }}</span>
    <span class="st-legend-item"><i class="st-dot st-dot--buffer"></i> {{ 'showTimes.turnoverBuffer' | translate }}</span>
  </div>

  <!-- Timetable -->
  <div class="ad-card ad-card--pad-0 st-board">
    <div class="st-grid">
      <!-- Column headers -->
      <div class="st-corner"></div>
      <div class="st-dayhead" *ngFor="let d of days" [class.is-today]="d.isToday">
        <span class="st-dow">{{ d.dow }}</span>
        <span class="st-dom">{{ d.dom }}</span>
      </div>

      <!-- Time axis -->
      <div class="st-axis" [style.height.px]="gridHeight">
        <div class="st-hour" *ngFor="let h of hours" [style.height.px]="rowHeight">
          <span>{{ h }}:00</span>
        </div>
      </div>

      <!-- Day columns -->
      <div class="st-col" *ngFor="let d of days" [class.is-today]="d.isToday" [style.height.px]="gridHeight">
        <div class="st-line" *ngFor="let h of hours" [style.height.px]="rowHeight"></div>

        <ng-container *ngFor="let b of d.blocks">
          <div
            *ngIf="b.bufferHeight > 0"
            class="st-buffer"
            aria-hidden="true"
            [style.top.px]="b.bufferTop"
            [style.height.px]="b.bufferHeight"
            [title]="'showTimes.turnoverBufferTooltip' | translate: { minutes: b.bufferMinutes }">
          </div>
        </ng-container>

        <button
          *ngFor="let b of d.blocks"
          type="button"
          class="st-block"
          [class]="'st-block ' + b.typeClass"
          [style.top.px]="b.top"
          [style.height.px]="b.height"
          (click)="edit(b.st)"
          [title]="b.title + ' · ' + b.timeLabel">
          <span class="st-block-title">{{ b.title }}</span>
          <span class="st-block-time">{{ b.timeLabel }}</span>
          <span class="st-block-form">{{ b.formLabel }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
