<div [formGroup]="group()" class="picker">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>{{ 'incidents.fields.room' | translate }}</mat-label>
    <mat-select formControlName="roomId">
      <mat-option value="">{{ 'incidents.fields.noRoom' | translate }}</mat-option>
      @for (room of rooms; track room.id) {
        <mat-option [value]="room.id">{{ room.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (showSeat()) {
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>{{ 'incidents.fields.seat' | translate }}</mat-label>
      <mat-select formControlName="seatId">
        <mat-option value="">{{ 'incidents.fields.noSeat' | translate }}</mat-option>
        @for (seat of seats; track seat.id) {
          <mat-option [value]="seat.id">{{ label(seat) }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
