
.web-movie-list {
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.pointer {
    cursor: pointer;
}

a {
    color: rgb(2, 67, 132);
    text-decoration: none;
}

.swiper-button-next, .swiper-button-prev {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 800;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
    z-index: 999;
    color: #fff;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-pagination {
    position: unset;
    margin-top: 24px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    width: 12px;
    height: 12px;
}