<div mat-dialog-title class="dialog-title">{{ 'invoices.editTitle' | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dlg-grid">
      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" id="iv-status-lbl">{{ 'common.status' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select formControlName="status" panelClass="dlg-select-panel" aria-labelledby="iv-status-lbl">
              <mat-option *ngFor="let s of statuses" [value]="s.value">{{ s.name | translate }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['status'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
