.dt-food {
    padding-bottom: 100px;
}

@media (max-width: 1200px) {
    .dt-food {
        padding-bottom: 40px;
    }
}

.food-box .content .content-top {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
}

.dt-food-heading {
    text-align: center;
}

.dt-food-body .title {
    font-size: 24px;
    color: #f3ea28;
    text-align: center;
    margin-bottom: 24px;
}

@media (max-width: 1024px) {
    .dt-food-body .title {
        margin-bottom: 12px;
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .dt-food-body .title {
        font-size: 16px;
        font-weight: 700;
    }
}

.combo-list {
    justify-content: center;
}

@media (max-width: 700px) {
    .combo-list {
        --col-gap: 6px;
        --row-gap: 6px;
    }
}

.dt-food .food-box {
    text-align: left;
}

@media (max-width: 700px) {
    .dt-food .food-box {
        text-align: center;
    }
}

.dt-food .food-box .image {
    border-radius: 4px;
}

.dt-food .food-box {
    flex-direction: row;
}

@media (max-width: 700px) {
    .dt-food .food-box {
        flex-direction: column;
    }
}

.food-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    gap: 12px;
    overflow: hidden;
    height: 100%;
}

.food-box:hover .image::before {
    left: 110%;
    transition: left 0.5s ease;
    visibility: visible;
}

/* .food-box .image img:hover {
    transform: translate(-50%, -50%) scale(1.05) rotate(3deg);
} */

.food-box:hover .name{
    color: #f3ea28;
}

.dt-food .food-box .img {
    width: calc(1.5/4*100%);
    overflow: hidden;
}

@media (max-width: 700px) {
    .dt-food .food-box .img {
        width: 100%;
    }
}

.food-box .img {
    display: block;
    width: 100%;
    height: auto;
}

.dt-food .food-box .content {
    height: 100%;
}

.food-box .content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dt-food .food-box .content .content-top {
    align-items: flex-start;
}

@media (max-width: 700px) {
    .dt-food .food-box .content .content-top {
        align-items: center;
    }
}

.dt-food .food-box .content-top .sub-title {
    text-align: center;
}

@media (max-width: 1024px) {
    .dt-food .food-box .content-top .sub-title {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .dt-food .food-box .content-top .sub-title {
        font-size: 12px;
    }
}

.food-box .content .content-top .name {
    transition: all .2s;
}

.dt-food .content-top .name {
    text-transform: uppercase;
    text-align: left;
}

