<div mat-dialog-title class="dialog-title">{{ 'giftCards.issueTitle' | translate }}</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="dlg-grid">
      <div class="dlg-row dlg-row--2">
        <div class="dlg-field">
          <label class="dlg-label" for="gc-amount">{{ 'giftCards.amount' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="gc-amount" type="number" min="1" formControlName="amount" placeholder="200000">
            <mat-error *ngIf="form.controls['amount'].hasError('required')">{{ 'common.required' | translate }}</mat-error>
            <mat-error *ngIf="form.controls['amount'].hasError('min')">{{ 'common.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="dlg-field">
          <label class="dlg-label" for="gc-expiresAt">{{ 'giftCards.expiry' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="gc-expiresAt" type="date" formControlName="expiresAt">
          </mat-form-field>
        </div>
      </div>

      <div class="dlg-row">
        <div class="dlg-field">
          <label class="dlg-label" for="gc-issuedToEmail">{{ 'giftCards.recipient' | translate }}</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput id="gc-issuedToEmail" type="email" formControlName="issuedToEmail" [placeholder]="'giftCards.recipientPlaceholder' | translate">
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button type="button" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'giftCards.issue' | translate }}</button>
  </div>
</form>

<button mat-icon-button type="button" class="dialog-close-btn" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
