<div class="mc-card" [class.mc-card--fixed]="fixedWidth" [routerLink]="variant === 'showing' ? ['/movies', movie.id] : null">
  <div class="mc-poster">
    <img [src]="movie.posterUrl || 'assets/no-poster.jpg'" [alt]="movie.title" (error)="onImgError($event)">
    <ng-container *ngIf="variant === 'showing'">
      <div class="mc-hover-overlay">
        <span class="mc-btn-book"><mat-icon>confirmation_number</mat-icon> {{ 'home.card.book' | translate }}</span>
      </div>
      <div class="mc-rate" *ngIf="movie.averageRating"><mat-icon>star</mat-icon> {{ movie.averageRating | number:'1.1-1' }}</div>
      <span class="mc-age" *ngIf="movie.ageRestrictionCode">{{ movie.ageRestrictionCode }}</span>
    </ng-container>
    <div class="mc-coming-badge" *ngIf="variant === 'coming'">{{ 'home.card.comingSoonBadge' | translate }}</div>
  </div>
  <div class="mc-body">
    <h3 class="mc-title">{{ movie.title }}</h3>
    <div class="mc-genres">
      <span class="mc-chip" *ngFor="let g of movie.genres | slice:0:2">{{ g }}</span>
    </div>
    <p class="mc-duration" *ngIf="variant === 'showing'"><mat-icon>schedule</mat-icon> {{ 'home.movie.minutes' | translate:{ n: movie.duration } }}</p>
    <p class="mc-duration" *ngIf="variant === 'coming'"><mat-icon>event</mat-icon> {{ movie.releaseDate | date:'dd/MM/yyyy' }}</p>
  </div>
</div>
